
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.header {
    &__title {
      display: none;
    }

    &__logo {
      width: auto;
    }
  }

  .s-main {
    .main {
      &__title {
        font-size: 22px;
      }

      &__item {
        &--big {
          width: 220px;
        }

        &--center {
          font-size: 16px;
        }
      }
    }
    
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    &__content {
      height: auto;
      padding: 5px 0;
    }

    &__body {
      align-items: center;
    }

    &__language {
      margin-right: 15px;
    }
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 62px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s-main {
    padding-top: 30px;

    .aside {
      margin-bottom: 30px;
    }
  }

  .s-service {
    .tab {
      &.active {
        height: 50px;
      }
    }
  }

  .s-thanks {
    background-image: url('../img/thanks-back.jpg');
    &__content {
      background-image: none;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px !important;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 20px;
    }      
  }

  .s-main {
      
  } 
  
  .s-service {
    .tab {
      font-size: 14px;
    }

    &__science {
      flex-direction: column;
      align-items: center;
    }
  }

  .s-contact {
    .map {
      height: 200px;
      overflow: hidden;

      & > ymaps {
        margin-top: -50px;
        margin-left: -300px;
        width: auto !important;
      }
    }

    .contact {
      position: static;
      margin: 0 auto;
      width: 100%;
    }
  }

  .s-questions {
    .form {
      &__bottom {
        flex-direction: column;
      }

      .button {
        align-self: flex-end;
        width: auto;
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width : 660px) {
  .service-modal {
    &__content {
      flex-direction: column;
      padding-bottom: 20px;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .call-me {
    display: flex;
  }

  .owl-carousel {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .s-main {
    .main {
      &__title {
        font-size: 16px;

        br {
          display: none;
        }
      }
    }
  }

  .s-advantage {
    .advantage {  
      &-title {
        font-size: 14px;
      }
    }
  }

  .s-questions {
    .form {
      &__content {
        flex-direction: column;
      }

      &__inputs {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  .service-modal {
    &__head {
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 10px;
      }
    }
  }

  .s-thanks {
    padding: 150px 0 50px;
    
    &-title {
      font-size: 30px;
    }

    &-text {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }

  .project-modal {
    &__block {
      flex-direction: column;
      align-items: center;

      img {
        margin: 0 0 15px;
      }
    }
  }

  .employee-modal {
    padding-left: 15px;
    padding-right: 15px;
    
    img {
      margin: 0;
    }

    &__head {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      text-align: center;
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}