@import './base';


.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;

  li {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;

    &:before {
      content: "";
      @include circle(15px);
      background-color: $yellow;
      margin: 3px 18px 0 0;
      flex-shrink: 0;
    }
  }
}

.block {
  display: inline-block;
  border: 10px solid $accent;

  img {
    display: block;
  }
}

.item {
  display: flex;
  flex-direction: column;

  &-image {
    margin-bottom: 10px;
  }

  &-title {
    margin-bottom: 8px;
  }

  &:hover {
    cursor: pointer;

    .item-image {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($yellow, 0.3);
      }
    }

    .item-title {
      text-decoration: underline;
    }        

    .button {
      background-color: $buttonHover;
    }
  }
}

.address-block {

}

.phone-block {
  a {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  background-color: rgba(#fff, 0.7);

  &--scrolled {
    background-color: rgba(#fff, 1);      
    border-bottom: 1px solid $accent;
  }

  &__content {
    display: flex;
    padding: 10px 0;
    height: 110px;
  }

  &__title {
    font-weight: normal;
    font-size: 14px;
    color: $accent;
    flex-grow: 1;
  }

  &__logo {
    display: flex;
    align-items: flex-end;
    align-self: center;
    width: 292px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  .logo {
    margin-right: 8px;
    flex-shrink: 0;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
  }

  &__language {
    a {
      &.active {
        color: $accent;
      }
    }
  }

  .button {
    color: #fff !important;
  }
}

.footer {
  background-color: $accent;
  font-size: 16px;

  .logo {
    margin-right: 100px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  &__address {
    max-width: 165px;
    margin-right: 40px;
  }

  &__phone {
    margin-right: 55px;
  }

  &__comand {
    margin-left: 100px;

    a {
      margin-top: 3px;
      display: block;
    }
  }   
}

.main-menu {  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  li {
    margin-right: 20px;
    
    &.last {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    font-weight: normal;
    padding: 5px;
    border: 1px solid transparent;

    &.link {
      &:hover, &.active {
        border: 1px solid $accent;
      }
    }
  }
}

.section {
  padding: 40px 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;

  &-title {
    font-size: 24px;
    font-weight: bold;
    color: $accent;
    margin: 0 auto 30px;
    text-align: center;

    .inverse & {
      color: #fff;
    }
  }
}

.s-main {
  padding-top: 150px;
  background-image: url('../img/main-back.jpg');

  &-title {
    font-size: 39px;
    margin: 0 0 35px 0;
    text-align: left;
    font-weight: bold;
  }
}

.s-advantage {
  .advantage {
    margin-bottom: 20px;

    img {
      margin-bottom: 30px;
    }  

    &-title {
      font-size: 16px;
      font-weight: 600;
      color: $accent;
    }
  }
}

.s-service {
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.7;
    cursor: pointer;
    margin-bottom: 15px;

    &.active {
      height: 70px;
      opacity: 1;
      font-weight: 600;
      color: $yellow;
    }
  }

  .tabcontent {
    margin-top: 30px;
    display: none;

    &.active {
      display: block;
    }
  }

  .item {
    margin-bottom: 30px;

    &-title {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: -0.5px;
      margin-bottom: 8px;
      flex-grow: 1;
    }

    .button {
      width: 100%;
    }
  }

  &__science {
    display: flex;

    .block {
      flex-shrink: 0;
      margin-right: 25px;
    }

    .list {
      margin-top: 10px;
    }
  }

  &__project {
    
    .service-project {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      img {
        margin-bottom: 12px;
      }

      &__title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 12px;
        flex-grow: 1;
      }
    }
  }
}

.s-project {
  .item {
    &-image {
      margin-bottom: 20px;
    }

    &-title {
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 15px;
      
      span {
        color: $accent;
      }
    }

    &-text {
      text-align: left;
      margin-bottom: 20px;
    }

    .button {
      align-self: flex-end;
    }
  }
}

.s-message {

  .carousel-message {
    max-width: 1010spx;
    padding: 0 80px;
    margin: 0 auto;
  }

}

.s-employee {
  background-image: url('../img/employee-back.jpg');

  .employee {
    display: flex;
    flex-direction: column;
    img {
      margin-bottom: 20px;
    }

    &-name {
      font-size: 16px;
      font-weight: 600;
      color: $accent;
      margin-bottom: 10px;
    }

    &-summary {
      margin-bottom: 10px;
    }

    .button {
      font-size: 13px;
      padding: 8px 5px;
    }
  }
}

.s-blog {
  .carousel-blog {
    max-width: 1010px;
    padding: 0 80px;
  }

  .blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px;
    width: 262px;
    height: 174px;
    background-color: $accent;

    &-title {
      color: #fff;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .button {
      padding: 8px 40px;
    }
  }
}

.s-contact {
  position: relative;
  
  .contact {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 360px;
    padding: 40px 25px 30px;
    background-color: rgba($accent, 0.7);

    &-title {
      font-size: 20px;
      color: $yellow;
      font-weight: 600;
      margin-bottom: 22px;
    }

    &-phone, &-address, &-link {
      display: flex;
      img {
        margin-right: 15px;
      }
    }

    &-phone {
      margin-bottom: 20px;
    }

    &-address {
      text-align: left;
      margin-bottom: 20px;
    }

    &-link {
      text-align: left;
    }
  }
}


.s-thanks {
  padding: 200px 0 100px 0;
  flex-grow: 1;
    
  &__title {
    color: $accent;
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 24px;
    margin: 0 0 125px;
  }

  &__link {
    text-decoration: underline;
    color: $accent;
  }
}


@import './_media';