@import './base';


.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;

  li {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;

    &:before {
      content: "";
      @include circle(15px);
      background-color: $yellow;
      margin: 3px 18px 0 0;
      flex-shrink: 0;
    }
  }
}

.block {
  display: inline-block;
  border: 10px solid $accent;

  img {
    display: block;
  }
}

.item {
  display: flex;
  flex-direction: column;

  &-image {
    margin-bottom: 10px;
  }

  &-title {
    margin-bottom: 8px;
  }

  &:hover {
    cursor: pointer;

    .item-image {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($yellow, 0.3);
      }
    }

    .item-title {
      text-decoration: underline;
    }        

    .button {
      background-color: $buttonHover;
    }
  }
}

.address-block {
  max-width: 185px;
}

.phone-block {
  a {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid $accent;
  padding-bottom: 10px;

  &--scrolled {
    z-index: 98;
    padding-bottom: 0;
  }

  &__content {
    display: flex;
    padding: 10px 0;
    height: 110px;
  }

  &__title {
    font-weight: normal;
    font-size: 14px;
    color: $accent;
    flex-grow: 1;
  }

  &__logo {
    display: flex;
    align-items: flex-end;
    align-self: center;
    width: 292px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  .logo {
    margin-right: 8px;
    flex-shrink: 0;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
  }

  &__language {
    a {
      &.active {
        color: $accent;
      }
    }
  }

  .button {
    color: #fff !important;
  }
}

.footer {
  background-color: $accent;

  .logo {
    margin-right: 90px;
  }

  .phone-block {
    margin-right: 120px;
  }

  .address-block {
    margin-right: 50px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }


  &__comand {
    margin-left: 30px;

    a {
      margin-top: 3px;
      display: block;
    }
  }   
}

.main-menu {  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  li {
    margin-right: 20px;
    
    &.last {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    font-weight: normal;
    padding: 5px;
    border: 1px solid transparent;

    &.link {
      &:hover, &.active {
        border: 1px solid $accent;
      }
    }
  }
}

.section {
  padding: 40px 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;

  &-title {
    font-size: 24px;
    font-weight: bold;
    color: $accent;
    margin: 0 auto 30px;
    text-align: center;

    .inverse & {
      color: #fff;
    }
  }
}

.s-main {
  padding: 150px 0 0;
  background-image: url('../img/main-back.jpg');

  &-title {
    font-size: 39px;
    margin: 0 0 35px 0;
    text-align: left;
    font-weight: bold;
  }

  .main {
    position: relative;

    &__title {
      position: absolute;
      top: 45px;
      width: 100%;
      font-size: 24px;
      font-weight: 600;
      color: $yellow;      

      span {
        display: inline-block;
      }
    }

    &__aksia {
      width: 100%;
      font-size: 16px;
      font-weight: normal;
      color: #fff;
      text-align: right;
    }

    &__item {
      font-size: 14px;
      color: #fff;
      background-color: $accent;
      padding: 5px;
      font-weight: 600;
      width: 100%;

      &--big {
        font-size: 16px;
        background-color: rgba($accent, 0.7);
        width: 260px;
        flex-shrink: 0;
      }

      &--center {
        font-size: 24px;
        font-weight: bold;
        color: $yellow;
      }
    }

    &__bottom {
      position: absolute;
      bottom: 0;
      width: 100%;

      &__title {
        font-size: 16px;
        color: $yellow;
        margin-bottom: 10px;
      }      

      &--flex {
        display: flex;
      }
    }
  }

  .owl-carousel {
    .owl {
      &-prev {
        left: 10px;
      }

      &-next {
        right: 10px;
      }
    }
  }

  .aside {
    position: relative;
    background-color: $accent;
    color: #fff;
    padding: 40px 5px 10px;

    &__top {
      top: -38px;
      left: 0;
      height: 38px;
      width: 100%;
      position: absolute;
      background-color: $accent;
      padding: 16px 10px 0;
      display: flex;

      &:before, &:after {
        position: absolute;
        top: -6px;
        content: "";
        width: 47px;
        height: 29px;
        background-image: url('../img/quiz-left.png');
      }

      &::before {
        left: -47px;
      }

      &:after {
        right: -47px;
        transform: rotate(180deg) translateY(1px);
      }

      &__content {
        width: 100%;
        background-color: #fff;
      }
    }

    img {
      margin-bottom: 25px;
    }

    &__text {
      margin-bottom: 20px;
    }

    .button {
      max-width: 220px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.s-advantage {
  .advantage {
    margin-bottom: 20px;

    img {
      margin-bottom: 30px;
    }  

    &-title {
      font-size: 16px;
      font-weight: 600;
      color: $accent;
    }
  }
}

.s-service {
  background-image: url('../img/service-back.jpg');

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.7;
    cursor: pointer;
    margin-bottom: 15px;

    &.active {
      height: 70px;
      opacity: 1;
      font-weight: 600;
      color: $yellow;
    }
  }

  .tabcontent {
    margin-top: 30px;
    display: none;

    &.active {
      display: block;
    }
  }

  .item {
    margin-bottom: 30px;

    &-title {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: -0.5px;
      margin-bottom: 8px;
      flex-grow: 1;
    }

    .button {
      width: 100%;
    }
  }

  &__science {
    display: flex;
    margin-bottom: 30px;

    .block {
      flex-shrink: 0;
      margin-right: 25px;
    }

    .list {
      margin-top: 10px;
    }
  }

  &__project {
    
    .service-project {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      img {
        margin-bottom: 12px;
      }

      &__title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 12px;
        flex-grow: 1;
      }
    }
  }
}

.s-project {
  .item {
    &-image {
      margin-bottom: 20px;
    }

    &-title {
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 15px;
      
      span {
        color: $accent;
      }
    }

    &-text {
      text-align: left;
      margin-bottom: 20px;
    }

    .button {
      align-self: flex-end;
    }
  }
}

.s-institut {
  background-image: url("../img/institut-back.jpg");

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .list {
    li {
      font-size: 14px;
      margin-bottom: 15px;

      &::before {
        @include circle(9px);
        margin: 3px 8px 0 0;
      }
    }
  }

  .carousel-gallery {
    img:first-child {
      margin-bottom: 15px;
    }
  }

  
}

.s-message {

  .carousel-message {
    max-width: 1010spx;
    padding: 0 80px;
    margin: 0 auto;
  }

}

.s-employee {
  background-image: url('../img/employee-back.jpg');

  .employee {
    display: flex;
    flex-direction: column;
    img {
      margin-bottom: 20px;
    }

    &-name {
      font-size: 16px;
      font-weight: 600;
      color: $accent;
      margin-bottom: 10px;
    }

    &-summary {
      margin-bottom: 10px;
    }

    .button {
      font-size: 13px;
      padding: 8px 5px;
    }
  }
}

.s-blog {
  .carousel-blog {
    max-width: 1010px;
    padding: 0 80px;
  }

  .blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px;
    width: 100%;
    background-color: $accent;

    &-title {
      color: #fff;
      font-weight: 600;
      flex-grow: 1;
      margin-bottom: 20px;
    }

    .button {
      padding: 8px 40px;
    }
  }
}

.s-contact {
  position: relative;
  
  .contact {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 360px;
    padding: 40px 25px 30px;
    background-color: rgba($accent, 0.7);

    &-title {
      font-size: 20px;
      color: $yellow;
      font-weight: 600;
      margin-bottom: 22px;
    }

    &-phone, &-address, &-link {
      display: flex;
      img {
        margin-right: 15px;
      }
    }

    &-phone {
      margin-bottom: 20px;
    }

    &-address {
      text-align: left;
      margin-bottom: 20px;
    }

    &-link {
      text-align: left;
    }
  }
}

.s-questions {
  .form {
    max-width: 786px;
    margin: 0 auto;

    &__title {
      color: #000;
    }

    &__content {
      display: flex;
      margin-bottom: 20px;
    }

    &__inputs {
      margin-right: 20px;      
    }

    .input-div:last-child {
      margin-bottom: 0;
    }

    .textarea {
      flex-grow: 1;
    }

    &__bottom {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

  }
}

.s-thanks {
  text-align: left;
  flex-grow: 1;
  display: flex;
  padding: 0;

  .container {
    display: flex;
    flex-direction: column;
  }

  &__content {
    background-image: url('../img/thanks-back.jpg');
    background-size: cover;
    padding: 180px 0 100px 0;
    flex-grow: 1;
  }
    
  &__title {
    color: $yellow;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 125px;
  }

  &__link {
    text-decoration: underline;
  }
}


.employee-modal {
  max-width: 650px;
  box-shadow: 0px 4px 16.38px 1.62px rgba(0, 0, 0, 0.38);
  background-color: #edecec;


  .employee {

    &-block{
      display: flex;
      margin-bottom: 20px;
    }

    img {
      margin-right: 25px;
    }

    &-name {
      font-size: 18px;
      color: $accent;
      font-weight: 600;
      margin: 20px 0 15px;
    }

    &-summary {
      font-style: italic;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        font-size: 12px;
        margin-bottom: 15px;
      }
    }
  }
}

.fully {
  max-width: 554px;
  background-color: $accent;

  .project {
    
    &__title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 20px;
      span {
        color: $yellow;
      }
    }

    &__block {
      display: flex;
      align-items: flex-start;
      margin-bottom: 15px;

      img {
        margin-right: 15px;
      }
    }

    &__text {
      font-style: italic;
    }
  }
}

.info {
  max-width: 550px;
  box-shadow: 0px 4px 16.38px 1.62px rgba(0, 0, 0, 0.38);
  background-color: #edecec;

  .project-service {

    &__title {
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
    }

    img {
      float: left;
      margin: 0 15px 10px 0;
    }

    &__text {
      font-size: 12px;
      color: $accent;
      margin-bottom: 20px;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        font-size: 12px;
        margin-bottom: 15px;
      }
    }
  }
}

.service-modal {
  max-width: 652px;
  box-shadow: 0px 4px 16.38px 1.62px rgba(0, 0, 0, 0.38);
  background-color: #edecec;

  &__content {
    display: flex;
  }

  &__block {
    max-width: 390px;
    margin-right: 10px;

    &__1 {
      display: flex;
      img {
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
  }

  &__title {
    font-weight: 600;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      font-size: 12px;
      font-weight: 600;
      list-style: none;
    }
  }

  .form {
    max-width: 262px;
    background-image: url('../img/form-modal-back.jpg');

    &__title {
      font-size: 14px;
    }

    &__content {
      width: 180px;
    }
  }
}

@import './_media';