@import './base';


.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  padding: 10px 0;
  background-color: rgba(#fff, 0.7);

  &--scrolled {
    background-color: rgba(#fff, 1);      
    border-bottom: 1px solid $accent;
  }

  &__content {
    display: flex;
    align-items: center;
  }
}

.footer {
  background-color: $accent;
  font-size: 16px;

  .logo {
    margin-right: 100px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  &__address {
    max-width: 165px;
    margin-right: 40px;
  }

  &__phone {
    margin-right: 55px;
  }

  &__comand {
    margin-left: 100px;

    a {
      margin-top: 3px;
      display: block;
    }
  }   
}

.main-menu {    
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  li {
    margin-right: 28px;
    
    &.last {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 2px solid transparent;

    &.link {
      &:hover, &.active {
        border-bottom: 2px solid $accent;
      }
    }
  }
}

.section {
  padding: 40px 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;

  &-title {
    font-size: 24px;
    font-weight: bold;
    color: $accent;
    margin: 0 auto 30px;
    text-align: center;

    .inverse & {
      color: #fff;
    }
  }
}

.s-main {
  padding-top: 150px;
  background-image: url('../img/main-back.jpg');

  &-title {
    font-size: 39px;
    margin: 0 0 35px 0;
    text-align: left;
    font-weight: bold;
  }
}

.s-advantage {
  .advantage {
    margin-bottom: 20px;

    img {
      margin-bottom: 30px;
    }  

    &-title {
      font-size: 16px;
      font-weight: 600;
      color: $accent;
    }
  }
}

.s-service {
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.7;
    cursor: pointer;
    margin-bottom: 15px;

    &.active {
      height: 70px;
      opacity: 1;
      font-weight: 600;
      color: $yellow;
    }
  }

  .tabcontent {
    margin-top: 30px;
    display: none;

    &.active {
      display: block;
    }
  }

  .service {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &-image {
      margin-bottom: 10px;
    }

    &-title {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: -0.5px;
      margin-bottom: 8px;
      flex-grow: 1;
    }

    .button {
      width: 100%;
    }

    &:hover {
      cursor: pointer;

      .service-image {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba($yellow, 0.3);
        }
      }

      .service-title {
        text-decoration: underline;
      }        

      .button {
        background-color: $buttonHover;
      }
    }
  }
}


.s-thanks {
  padding: 200px 0 100px 0;
  flex-grow: 1;
    
  &__title {
    color: $accent;
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 24px;
    margin: 0 0 125px;
  }

  &__link {
    text-decoration: underline;
    color: $accent;
  }
}


@import './_media';